@model Enterprise.EmployeeManagement.DAL.Models.Employee

@{
    ViewData["Title"] = "Create";
}
<a asp-action="Index">View All Employees</a>
<h2>Create an Employee</h2>
<form method="post">
    <p>
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </p>
    <p>
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </p>
    <p>
        <label asp-for="Role">Role:</label>
        <select asp-for="Role">
            <option value="Software Engineer">Software Engineer</option>
            <option value="HR">HR</option>
            <option value="Data Analyst">Data Analyst</option>
        </select>
        <span asp-validation-for="Role"></span>
    </p>
    <p>
        <label asp-for="MobileNumber">Mobile Number:</label>
        <input asp-for="MobileNumber" />
        <span asp-validation-for="MobileNumber"></span>
    </p>
    <p>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </p>


    <p class="full-row"><button type="submit">Submit</button></p>
</form>